<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fb.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="cinemaName"    column="cinema_name"    />
        <result property="filmName"    column="film_name"    />
        <result property="userId"    column="user_id"    />
        <result property="seat"    column="seat"    />
        <result property="price"    column="price"    />
        <result property="deleted"    column="deleted"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderVo">
        select id, cinema_name, film_name, user_id, seat, price, deleted, create_time, update_time from fb_order
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="cinemaName != null  and cinemaName != ''"> and cinema_name like concat('%', #{cinemaName}, '%')</if>
            <if test="filmName != null  and filmName != ''"> and film_name like concat('%', #{filmName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="seat != null  and seat != ''"> and seat = #{seat}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrder" parameterType="Order">
        insert into fb_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="cinemaName != null">cinema_name,</if>
            <if test="filmName != null">film_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="seat != null">seat,</if>
            <if test="price != null">price,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="cinemaName != null">#{cinemaName},</if>
            <if test="filmName != null">#{filmName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="seat != null">#{seat},</if>
            <if test="price != null">#{price},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update fb_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="cinemaName != null">cinema_name = #{cinemaName},</if>
            <if test="filmName != null">film_name = #{filmName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="seat != null">seat = #{seat},</if>
            <if test="price != null">price = #{price},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from fb_order where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from fb_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>