<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chen.film.mapper.FilmMapper">
    <select id="hotFilms" parameterType="string" resultType="top.chen.film.domain.entity.Film">
        SELECT * from fb_film WHERE watched > 100000 and status = 1
        <if test="name != null">
            and name like concat('%', #{name}, '%')
        </if>
        ORDER BY `date` DESC
    </select>

    <select id="exceptFilms" parameterType="string" resultType="top.chen.film.domain.entity.Film">
        SELECT * from fb_film WHERE status != 1
        <if test="name != null">
            and name like concat('%', #{name}, '%')
        </if>
    </select>

    <select id="recommendedFilms" resultType="top.chen.film.domain.entity.Film">
        SELECT * from fb_film WHERE status != 1 ORDER BY wish DESC LIMIT 0,6
    </select>

    <select id="getUserPurchaseHistory" parameterType="string" resultType="Long">
        SELECT id FROM `fb_film` WHERE name in (
            select DISTINCT(o.film_name) as name
            from fb_order o
                LEFT JOIN fb_user u on o.user_id = u.id
            where u.id = #{userId}
        )
    </select>
</mapper>
