@font-face {
  font-family: "iconfont"; /* Project id 4357740 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_4357740_u21bxo066ml.woff2?t=1701674087048') format('woff2'),
       url('//at.alicdn.com/t/c/font_4357740_u21bxo066ml.woff?t=1701674087048') format('woff'),
       url('//at.alicdn.com/t/c/font_4357740_u21bxo066ml.ttf?t=1701674087048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode2:before {
  content: "\e600";
}

.icon-dingdan:before {
  content: "\f4b2";
}

.icon-yingyuan:before {
  content: "\e606";
}

.icon-dianyingyuan:before {
  content: "\e602";
}

.icon-dianyingyuan1:before {
  content: "\e64d";
}

.icon-yingyuandizhi:before {
  content: "\e646";
}

.icon-dianying_film:before {
  content: "\e615";
}

.icon-yingpian:before {
  content: "\e708";
}

.icon-ziyuan:before {
  content: "\e642";
}

.icon-dianyingdianshi:before {
  content: "\e61a";
}

