<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chen.user.mapper.CommentMapper">
    <select id="avgSc" parameterType="string" resultType="double">
        SELECT AVG(c.sc) from fb_comment c
                    where c.user_id in
                          (SELECT o.user_id FROM `fb_order` o)
                      and film_id = #{filmId}
    </select>
</mapper>
